#main-footer {
	background: white;
	color: #333;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
	height: 10%;
	width: 100%;
	/* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0px; /* Posicionamos la cabecera al lado izquierdo */
	top: 90%; /* Posicionamos la cabecera pegada arriba */
	bottom: 0px;
}

#main-footer p {
	margin: 0;
}

#main-footer a {
	color: #333;
}