/* body{ */
/*    font-family: verdana, helvetica; */
/*    font-weight: bold; */
/*    float:left; */
/* } */
#nav_izda {
	width: 10%;
	float: left;
	background: #99ccff;
	color: #333;
	height: 100%;
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 7; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posici�n fija */
	padding-top: 0px;
	padding-left: 0px;
}

.titulonav {
	/* 	border-width: 1px; */
	/* 	border-style: solid; */
	/* 	border-color: #000000; */
	font-size: 14pt;
	/* 	font-weight: bold; */
	/* 	background-color: #999999; */
	padding: 8px;
	margin-top: 20px;
}

.cuerporec {
	margin: 0px;
}

.cuerporec ul {
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 1px;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
}

.cuerporec li {
	padding: 10px;
}

.cuerporec li:hover {
	background: #cce5ff;
}

.cuerporec a {
	text-decoration: none;
}

/* nav ul { */
/* 		margin: 0; */
/* 		padding: 0; */
/* 		list-style: none; */
/* 		padding-right: 20px; */
/* 	} */

/* 		nav ul li { */
/* 			display: inline-block; */
/* 			line-height: 80px; */
/* 		} */

/* 			nav ul li a { */
/* 				display: block; */
/* 				padding: 0 10px; */
/* 				text-decoration: none; */
/* 			} */

/* 				nav ul li a:hover { */
/* 					background: #cce5ff; */
/* 				} */