<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Registro_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.Registro_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registro_servlet</servlet-name>
    <url-pattern>/registro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PedidosHostelero_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.PedidosHostelero_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PedidosHostelero_servlet</servlet-name>
    <url-pattern>/pedidoshostelero</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>PortadaUsuario_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.PortadaUsuario_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortadaUsuario_servlet</servlet-name>
    <url-pattern>/portadaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexCliente_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.IndexCliente_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexCliente_servlet</servlet-name>
    <url-pattern>/indexcliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexClientePedido_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.IndexClientePedido_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexClientePedido_servlet</servlet-name>
    <url-pattern>/indexclientepedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexHostelero_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.IndexHostelero_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexHostelero_servlet</servlet-name>
    <url-pattern>/indexhostelero</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistroProducto_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.RegistroProducto_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroProducto_servlet</servlet-name>
    <url-pattern>/registroProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Contacto_servlet</servlet-name>
    <servlet-class>es.upm.dit.isst.neveraAzul.Contacto_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contacto_servlet</servlet-name>
    <url-pattern>/contacto</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>profile</web-resource-name>
      <url-pattern>/indexcliente</url-pattern>
      <url-pattern>/indexhostelero</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>Login_servlet</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
</web-app>